<app-menu></app-menu>>
<ion-content [fullscreen]="true">
 
  <ion-row  class="ion-justify-content-center espaco">
    <ion-col size="10" size-lg="4" class="ion-text-center">
      <ion-label>
        <h1>🎁 ADICIONAR PRESENTE 🎁</h1>
      </ion-label>
      <ion-item>
        <ion-input label="Nome do Presente:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Faixa de Peco:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Grau de parentalidade:"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" color="tertiary">SALVAR</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-lg="8">
      <ion-card>
        <ion-row>
          <ion-col>ID: 1</ion-col>
          <ion-col>Nome do Presente: Ata</ion-col>
          <ion-col>Grau de Parentalidade: Maw</ion-col>
          <ion-col>Faixa de Preco: 10</ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
<app-footer></app-footer>