*{
    // outline: 1px solid blue;
}

.imgperfil {
    border-radius: 16px;
}

.imgamgs {
    border-radius: 60px;
}

.centro {
   
    justify-content: center;
}

.nomeperfil {
    font-size: 2rem;
    font-weight: bold;
}