<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Currículo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="8" size-xl="6">

      <!-- CABEÇALHO -->
      <ion-row>
        <ion-col size="12" size-lg="4">
          <img src="{{this.pessoa.foto}}" class="imgPerfil">
        </ion-col>
        <ion-col size="12" size-lg="8">
          <h2 class="titleNome" style="color: cadetblue;">{{this.pessoa.nome}}</h2>
          <h3 class="func">{{this.pessoa.objetivo}}</h3>
        </ion-col>
      </ion-row>
      
      <!-- INFO CONTATO -->
      <ion-row>
        <ion-col size="4">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      
        <ion-col size="4" class="ion-text-center">
          <h3  style="color: cadetblue;">CONTATO</h3>
        </ion-col>      
      
        <ion-col size="4">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <!-- DADOS CONTATO -->
      <ion-row>
        <ion-col size="12">
          <ion-card>

            
            <ion-item>
              <ion-icon slot="start" color="primary" name="mail-outline"></ion-icon>
              <ion-label>E-mail: {{this.pessoa.contato.email}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" color="primary" name="call-outline"></ion-icon>
              <ion-label>Telefone: {{this.pessoa.contato.telefone}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" color="primary" name="logo-linkedin"></ion-icon>
              <ion-label>LinkedIn: {{this.pessoa.contato.linkedin}}</ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
      
      <!-- INFO SOFT SKILLS -->
      <ion-row>
        <ion-col size="4">
          <ion-item-divider></ion-item-divider>
        </ion-col>
        
        <ion-col size="4" class="ion-text-center">
          <h3  style="color: cadetblue;">SOFT SKILLS</h3>
        </ion-col>      
        
        <ion-col size="4">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>
      
      <!-- SOFT SKILLS -->
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ng-container *ngFor="let softskill of this.pessoa.softskill">
      
              <ion-item>
                <ion-label>{{softskill}}</ion-label>
              </ion-item>

            </ng-container>

          </ion-card>
        </ion-col>
      </ion-row>

      <!-- INFO FORMACAO -->
      <ion-row>
        <ion-col size="4">
          <ion-item-divider></ion-item-divider>
        </ion-col>
        
        <ion-col size="4" class="ion-text-center">
          <h3  style="color: cadetblue;">FORMAÇÃO</h3>
        </ion-col>      
        
        <ion-col size="4">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <!-- FORMACAO -->
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ng-container *ngFor="let formacao of this.pessoa.formacao">
      
              <ion-item>
                <ion-label>
                  <h2>Inicio: {{formacao.ano_inicio}} - {{formacao.ano_termino}} | {{formacao.instituicao}}</h2>
                  <p>{{ formacao.curso }}</p>
                </ion-label>
              </ion-item>

            </ng-container>

          </ion-card>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-content>