<ion-content [fullscreen]="true">
  <app-menu></app-menu>

  <ion-row class="ion-justify-content-center row">
    <ion-col size="6" size-lg="3" class="fundo arvore">
      <h3 style="color: white;">exemplooooooooo</h3>
    </ion-col>
    <ion-col size="6" size-lg="3" class="fundo bolinha"></ion-col>
    <ion-col size="6" size-lg="3" class="fundo comida"></ion-col>
    <ion-col size="6" size-lg="3" class="fundo noel"></ion-col>
  </ion-row>

  <ion-row class="ion-justufy-content-center">
    <ion-col size="12" class="ion-text-center">
      <h1>FELIZ NATAL</h1>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="4" class="fundo familia">

    </ion-col>
    <ion-col size="12" size-lg="4">
      <ion-item lines="none">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, alias necessitatibus earum, aliquam neque incidunt dolorum nihil commodi modi harum error! Eveniet nesciunt dolores voluptatum omnis fugit eius consequatur dignissimos.
        Nostrum voluptatum reprehenderit aspernatur ut deleniti quaerat modi facilis iure iste ipsa. Reiciendis cupiditate ipsum sint soluta? Iusto maiores eos placeat neque id minus, voluptates quam numquam, at veritatis sequi!
        Labore fugiat magni assumenda odit officia. Id ipsa odit, nostrum doloremque veniam eaque quo eligendi molestias corporis aliquam molestiae saepe numquam aut aliquid eius voluptate quibusdam, fugiat laboriosam magni consequuntur?
        Cupiditate deserunt corporis praesentium? Quas, veniam eaque sapiente labore, molestias accusantium ipsa, quaerat nulla corrupti itaque sint impedit esse. Officiis doloribus dignissimos incidunt unde. Repellat vitae optio quaerat quibusdam magnam.
        A iusto sit distinctio asperiores molestias labore fugit tempore perferendis facere porro eius, minus vel ratione. Earum, commodi et minus blanditiis hic repellendus, qui odio ab, tempore ut harum inventore!
        Laborum pariatur perferendis, magnam soluta obcaecati aspernatur quos repellat autem ipsa fuga quibusdam similique accusamus. Alias illo unde perspiciatis voluptatibus. Doloremque ex porro minima, omnis error delectus quod laboriosam a!
        Ea rem, totam dolorum, nobis provident porro iure nemo eligendi, praesentium nihil ex ab voluptas exercitationem labore reprehenderit sunt eaque at harum a accusantium. Omnis suscipit molestiae adipisci totam in.
        Tempore, vero ea voluptatum hic tenetur blanditiis facilis!</p>

      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>